.landing-page-container{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: radial-gradient( circle farthest-corner at 48% 50%,  rgb(37, 249, 178) 0%, rgba(8,70,218,1) 90% ); */
    margin-top: 20vh;
    min-width: auto;
    min-height: auto;
    
}
body{
    background-image: radial-gradient( circle farthest-corner at 50% 50%,  rgba(226, 171, 244, 0.433) 5%, rgba(219, 191, 226, 0.233) 70% );
}
/* 
#ffd89b >
#19547b */
.login-form-container{
  margin-top: -20%;
  max-width: 375px;
  max-height: 600px;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh ;
  background: rgba(216, 244, 243, 0.494);
  box-shadow: 0px 1px 5px 1px lightgrey;

}
#throne-login-logo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    
    width: 40%;
    padding: 10px;
    border-radius: 10%;
    
    
}
.login-form{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    max-width: 230px;
    
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-text{
    color: #8803bd;
    text-align: center;
    margin-top: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px #30d2f783;
}
.login-subtext {
    color: #ac53d0db;
    text-align: center;
    margin-bottom: 10%;
    margin-top: -1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.landing-text-input{
    font-size: 1rem;
    border: none;
    margin: 0.5rem;
    height: 1.5rem;
    padding: 5px 12px;
    border-radius: 1rem;
    box-shadow:
    110px -100px 80px #fff,
    3px 3px 10px rgba(187, 5, 243, 0.248),
    -5px 10px 130px rgba(68, 109, 105, 0.514);
}

.landing-text-input:focus{
    outline: none;
}

.login-submit-btn{
    margin: 1.5rem 0;
    border: none;
    background-color: #bbddddbb;
    height: 2rem;
    border-radius: 1rem;
    width: 8rem;
    text-align: center;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(199, 78, 240, 0.672);
    cursor: pointer;
    box-shadow:
    110px -100px 80px #fff,
    3px 3px 10px rgba(187, 5, 243, 0.248),
    -5px 10px 130px rgba(68, 109, 105, 0.514);
}

.login-submit-btn:hover,
.login-submit-brn:focus{
    background-color: #38F0F3;
}

.login-failed{
    color: crimson;
    align-self: center;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}