.landing-page-container{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: radial-gradient( circle farthest-corner at 48% 50%,  rgb(37, 249, 178) 0%, rgba(8,70,218,1) 90% ); */
    margin-top: 20vh;
    min-width: auto;
    min-height: auto;
    
}
body{
    background-image: radial-gradient( circle farthest-corner at 48% 50%,  rgb(197, 207, 204) 0%, rgb(253, 253, 255) 90% );
}
/* 
#ffd89b >
#19547b */
.login-form-container{
  margin-top: -20%;
  max-width: 375px;
  max-height: 600px;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh ;
  background: rgba(52, 167, 216, 0.168);
  box-shadow:
  0 -10px 120px #fff,
  10px 8px 20px rgba(16, 1, 17, 0.353),
  -5px -5px 30px rgba(200, 0, 255, 0.514);
}
#throne-login-logo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}
.login-form{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-text{
    color: #a904c2;
    text-align: center;
    margin: 10%;
}


.landing-text-input{
    font-size: 1rem;
    border: none;
    margin: 0.5rem;
    height: 1.5rem;
    padding: 5px 12px;
    border-radius: 1rem;
}

.landing-text-input:focus{
    outline: none;
}

.login-submit-btn{
    margin: 1.5rem 0;
    border: none;
    background-color: #2DB3EB;
    height: 2rem;
    border-radius: 1rem;
    width: 8rem;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.login-submit-btn:hover,
.login-submit-brn:focus{
    background-color: #38F0F3;
}

.login-failed{
    color: crimson;
    align-self: center;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}