#map{
    height: 80vh;
    width: 40vw;
    margin: auto;
}
.throne-container{
    margin: none
}

@media all and (max-width: 376px) {
    #map{
        height: 50vh;
        width: 80vw;
        margin: auto;
    }
}

