

@media all and (max-width: 376px) {
    #dashboard{
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin: auto;
        margin-top: 40%
        /* justify-content: space-evenly; */
    }
}

@media (min-width: 377px) and (max-width: 3000px) {
.throne-container{
    border: 1px solid black;
    border-top: 0;
    width: 25%;
    padding-top: 2vh;
}
.throne-filters{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    
    /* list-style-type: none !important; */
}
.throne-list {
    overflow-x: scroll;
    height: 37vh;
}
}