* {
	box-sizing: border-box;
}

#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
	margin-top: 102px;
	background-size: cover;
	background-image: radial-gradient( circle farthest-corner at 50% 50%,  rgba(226, 171, 244, 0.433) 5%, rgba(219, 191, 226, 0.233) 70% );
	background-blend-mode: multiply;
	
	@media (min-width: 1024px){
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100vh;
		max-width: 1280px;
		margin: 0 auto;
		padding-top: 0;
	}
	
}

.avatar {
	margin-bottom: 16px;
	width: 320px;
	
	@media (min-width: 1024px){
		width: 30vw;
	}
	
}

.tables {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
	overflow-y: scroll;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: rgb(89, 5, 168);
	letter-spacing: 1px;
	margin: 0;
	margin-bottom: 16px;
}

label {
	color: #fff;
	margin-bottom: 4px;
}

input, textarea {
	margin-bottom: 16px;
	padding: 8px;
	font-size: 20px;
	outline: 0;
	
	&:active, &:focus {
		border: 2px solid #327cff;
		background: #327cff;
		color: #fff;
	}
	
}

buttonss {
	display: block;
	
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 16px 0;
	border-radius: 8px 24px 8px 24px;
	border: .5px solid #5a07f395;
	background-color: #0af7b055;
	color: rgb(130, 7, 230);
	outline: 0;
	cursor: pointer;
	margin-top: 8px;
	
	&:hover, &:active, &:focus {
		background-color: #02348c;
		border-color: #60028c;
	}
	
}